.dark__background {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 4;
}

.form__container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.25);
  z-index: 5;
  position: fixed;
}

.icon {
  position: absolute;
  top: -10px;
  right: 0;
  cursor: pointer;
  background-color: white;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}

.icon img {
  width: 40px;
  height: 40px;
}

.form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form__content h3 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.7) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.form__input {
  display: flex;
  padding: 10px 25px;
  border-radius: 50px;
  background: linear-gradient(
    178deg,
    rgba(217, 217, 217, 0.18) 1.34%,
    rgba(217, 217, 217, 0.12) 98.66%
  );
  border: 1px solid #fff;
  border-color: #fff;
  width: 400px;
  box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.25);
}

.form__input input {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button__container {
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out;
}

.button__container:hover {
  transform: scale(1.1);
}

.button__container button {
  background: none;
  border: none;
  padding: 10px 25px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button__container img {
  width: 30px;
  height: 30px;
}

.confirm__message {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.confirm__message h3 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.7) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.confirm__message p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.7) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.loading__indicator {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  color: #fff;
  margin-bottom: 0;
}

.error__message {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  color: red;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .form__container {
    height: 20%;
    align-items: center;
    display: flex;
  }

  .form__content h3 {
    font-size: 30px;
  }

  .form__input {
    width: 200px;
    padding: 10px 10px 10px 20px;
  }

  .form__input input {
    font-size: 15px;
  }

  .button__container {
    transition: none;
  }

  .button__container:hover {
    transform: none;
  }

  .button__container button {
    padding: 10px 10px;
    font-size: 15px;
  }

  .button__container img {
    width: 20px;
    height: 20px;
  }

  .confirm__message h3 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.7) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }

  .confirm__message p {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.7) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }
}
